/* Header.css */

.header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    width: fit-content;
    z-index: 20;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon{
    width:3%;
    justify-content: center;
    align-items: center;
  }
 .icon img {
    width: 100%;
  }
  
  .search-bar input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .business-dropdown {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
  }
  
  .browse-button {
    background-color: #2F8661;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .login {
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  